body {
  background-color: rgb(102, 78, 78);
}

.to-do-list {
  font-family: arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  color: white;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-btn {
  background-color: rgb(40, 156, 40);
}

.add-btn:hover {
  background-color: rgba(40, 156, 40, 0.699);
}

.delete-btn {
  background-color: rgb(209, 56, 56);
}

.delete-btn:hover {
  background-color: rgba(209, 56, 56, 0.699);
}

.move-btn {
  background-color: rgb(63, 63, 224);
}

.move-btn:hover {
  background-color: rgba(63, 63, 224, 0.699);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(39, 36, 36);
  color: rgb(63, 58, 58);
  margin-bottom: 50px;
}

ol {
  padding: 0;
  max-width: 800px;
  margin: auto;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(207, 193, 193);
  margin-bottom: 10px;
  border: 3px solid rgb(88, 79, 79);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-btn, .move-btn {
  padding: 8px 12px;
  font-size:  1.4rem;
  margin-left: 10px;
}